*{
	margin: 0;
	padding: 0;
}
.primary-btn{
	border: 0;
	border-radius: 3px;
	background-color: orangered;
	color: #fff;
	padding: 10px 15px;
	font-size: 16px;
	margin-right: 10px;
}


.header{
	
}
/*Nav section*/
.nav-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: lightgray;
	padding: 15px 0;
}
.nav-logo{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav-logo-title{
	color:cyan;
}
.menu-list{
	list-style: none;
	display: flex;
}
.menu-list a{
	text-decoration: none;
	color: #000;
	padding: 10px;
}
.banner{
	background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4));
	background-blend-mode: overlay;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: center;
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.banner-container{
	color: #fff;

}
.banner-title{
	font-size: 86px;
	font-weight: 900;
	margin-bottom: 10px;
}
.banner-title span{
	color: orangered;
}
.banner-description{
	font-size: 22px;
	width: 50%;
	margin: 0 auto 20px;
}

/*service*/
.service{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.9));
	background-blend-mode: overlay;
	color: #fff;
	padding: 80px 30px;
}	
.service-title{
	font-size: 40px;
}

.service-title span{
	color: orangered;
}
.service-description{
	line-height: 22px;
	width: 75%;
	margin-bottom: 20px;
}
.service-left ol{
	margin-bottom: 20px;
	list-style: decimal;
	padding: 0px 15px;
}
.service-author{
	display: flex;
	gap: 15px;
}
.author-left{
	display: flex;
	align-items: center;
	border-right: 3px solid #555;
}
.author-text h4 {
    font-size: 14px;
}
.service-author img{
	width: 35%;
	border-radius: 50%;
	justify-content: space-between;
	margin-right: 10px;
}
.service-info img{
	width: 140px;
	margin-bottom: 20px;
}
.service-right{
	display: flex;
}
.service-info{
	background-color: #fff;
	width: 200px;
	padding: 35px;
	text-align: center;
	margin: 7px 10px;
	border-radius: 10px;
	color: #000;
}
.service-info p {

	font-weight: 700;
}
.service-btn{
	padding: 15px 30px;
	border-radius: 50px;
	background-color: #fff;
	color: #000;
}
/*Appointment*/
.appointment{
	display: flex;
	width: 75%;
	background-color: orangered;
	justify-content: center;
	align-items: center;
	margin: -70px auto 0 auto;
	padding: 30px;
	border-radius:5px;
}
.appointment-call{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid gray;
	padding: 15px;
}
.appointment-call img{
	width: 90px;
}
.appointment-description{
	line-height: 20px;
	font-size: 16px;
	padding: 10px;
}
/*Blog style*/
.blog{
	text-align: center;
	padding: 40px 0;
}
.blog-title{
	font-size: 40px;
	margin-bottom: 10px;

}
.blog-description{
	width: 50%;
	line-height: 22px;
	margin: 0 auto;
	font-size: 22px;
	margin-bottom: 20px;
}
.blog-box{
	display: flex;
	justify-content: space-around;
}
.blog1{
	width: 300px;
	height: 380px;
	background-color: #fff;
	box-shadow: 4px 4px 8px grey;
	color: #000;
	border-radius: 5px;
}
.blog1 img{
	width: 100%;
	border-radius: 5px;
}
.blog1 h2{
	margin-bottom: 10px;
	padding: 10px;
	font-size: 24px;
}
.blog1 p{
	line-height: 22px;
	padding: 0 10px 20px;
}
/*footer section*/
.footer{
	background-image: url('../asset/image/footer-bg.png'),linear-gradient(45deg, rgba(0,0,0,.8),rgba(0,0,0,0.9));
	background-blend-mode:overlay;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	padding: 5px 0;
}
.footer-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin: 0 auto;
	padding: 20px 0;
	border-bottom: 1px solid gray;
}
.logo-box{
	width: 25%;
}
.logo-box img{
	margin-bottom: 20px;
}
.logo-box p{
	line-height: 22px;
	margin-bottom: 20px;
}
.footer-icon i{
	font-size: 22px;
	margin-right: 20px;
}
.footer-title{
	margin-bottom: 30px;
}
.footer-list li {
	list-style: none;
}
.footer-list li a{
	margin-bottom: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.footer-links, .footer-supports, .footer-contact{
	margin-top: 30px;
} 
.footer-contact i{
	margin-right: 5px;
}
.footer-contact address p{
	margin-bottom: 10px;
}
.footer-copy{
	text-align: center;
	margin-top: 20px;
}